@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");

body {
  background-color: #f0f0f0;
  font-family: 'Open Sans';
  font-size: 15px;
}

h1
{
  display: block;
  color: #575F7D;
  text-shadow:-1px 1px 14px #f0f0f0;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 900;
  line-height: 100%;
}


/*h2 {
  color: #000000;
  font-family: Poppins;
  font-size: 18px;
}*/
p {
font-family: 'Open Sans';
font-weight: 400;
font-size: 15px;
line-height: 200%;
margin: 8px 8px 48px 8px;
}

p {
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}

/*.btn-blue {
background-color: #6B72E1;
color: white;
padding: 12px 18px;
border-radius: 4px;
margin: 30px auto;
box-shadow: 0px 10px 30px rgba(48, 47, 47, 0.1);
}


.btn-blue:hover {
  background-color: black;
  color: white;
}
*/
a {
  font-family: 'Poppins';, sans-serif;
  text-decoration: none;
  color: #2e9ee8;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 4px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  color: black;
  background-color: white;
  display: inline-block;
}

img{
width: 150px;
height: 150px;
border-radius: 50%;
object-fit: cover;
margin-bottom: 30px;
}

.card {
  background-color: #f9f9f9;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  text-align: center;
  margin-bottom: 20px;
  margin: 20px 0px;
  }

.container {
  margin: 0px auto 16px auto;
  width: 700px;
  }

  @media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}


.myButton {
  box-shadow: 0px 10px 14px -7px #888888;
  background:linear-gradient(to bottom, #f4dada 5%, #eaac9d 100%);
  background-color:#f4dada;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Verdana;
  font-size:10px;
  font-weight:bold;
  padding:15px 20px;
  text-decoration:none;
  text-shadow:-1px 1px 14px #f4dada;
  transition: 3s;
}
.myButton:hover {
  background:linear-gradient(to bottom, #eaac9d 5%, #eaac9d 100%);
  background-color:#f6acc8;
  transition: 3s;
}
.myButton:active {
  position:relative;
  top:1px;
}




#logoHover:hover {
  color: #888888;
  transition: 1s;
}

#logoHover {
  color: #f4dada;
  size:20px;
  font-size: 25px;
}
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}


.background {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
}

.background span {
    width: 9vmin;
    height: 9vmin;
    border-radius: 9vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #ffcaeb;
    top: 98%;
    left: 1%;
    animation-duration: 50s;
    animation-delay: -6s;
    transform-origin: 17vw 15vh;
    box-shadow: -18vmin 0 3.1020735879549957vmin currentColor;
}
.background span:nth-child(1) {
    color: #ebebeb;
    top: 93%;
    left: 97%;
    animation-duration: 22s;
    animation-delay: -24s;
    transform-origin: 18vw -20vh;
    box-shadow: -18vmin 0 2.3140815025959256vmin currentColor;
}
.background span:nth-child(2) {
    color: #ffcaeb;
    top: 91%;
    left: 95%;
    animation-duration: 13s;
    animation-delay: -13s;
    transform-origin: 13vw -10vh;
    box-shadow: 18vmin 0 2.6055788340543113vmin currentColor;
}
.background span:nth-child(3) {
    color: #ebebeb;
    top: 79%;
    left: 57%;
    animation-duration: 21s;
    animation-delay: -19s;
    transform-origin: -15vw 10vh;
    box-shadow: -18vmin 0 2.959390652139663vmin currentColor;
}
.background span:nth-child(4) {
    color: #feedff;
    top: 75%;
    left: 60%;
    animation-duration: 52s;
    animation-delay: -32s;
    transform-origin: 6vw 4vh;
    box-shadow: 18vmin 0 2.6934340576156783vmin currentColor;
}
.background span:nth-child(5) {
    color: #ebebeb;
    top: 38%;
    left: 52%;
    animation-duration: 31s;
    animation-delay: -25s;
    transform-origin: 17vw -11vh;
    box-shadow: 18vmin 0 3.1821737150068063vmin currentColor;
}
.background span:nth-child(6) {
    color: #ffcaeb;
    top: 98%;
    left: 29%;
    animation-duration: 39s;
    animation-delay: -38s;
    transform-origin: -11vw 24vh;
    box-shadow: 18vmin 0 2.931745163962711vmin currentColor;
}
.background span:nth-child(7) {
    color: #ebebeb;
    top: 42%;
    left: 87%;
    animation-duration: 26s;
    animation-delay: -10s;
    transform-origin: 13vw -5vh;
    box-shadow: -18vmin 0 2.8491906411011487vmin currentColor;
}
.background span:nth-child(8) {
    color: #feedff;
    top: 17%;
    left: 76%;
    animation-duration: 54s;
    animation-delay: -41s;
    transform-origin: -3vw -4vh;
    box-shadow: -18vmin 0 3.060947346787605vmin currentColor;
}


/*.background span:nth-child(0) {
    color: #f9d3e1;
    top: 95%;
    left: 67%;
    animation-duration: 9s;
    animation-delay: -27s;
    transform-origin: -8vw -14vh;
    box-shadow: -40vmin 0 5.710212709001925vmin currentColor;
}
.background span:nth-child(1) {
    color: #ffe3d7;
    top: 73%;
    left: 95%;
    animation-duration: 21s;
    animation-delay: -24s;
    transform-origin: 19vw -13vh;
    box-shadow: 40vmin 0 5.989652384223639vmin currentColor;
}
.background span:nth-child(2) {
    color: #ffe3d7;
    top: 6%;
    left: 72%;
    animation-duration: 33s;
    animation-delay: -38s;
    transform-origin: 6vw -19vh;
    box-shadow: 40vmin 0 5.160498445256793vmin currentColor;
}
.background span:nth-child(3) {
    color: #f9d3e1;
    top: 2%;
    left: 85%;
    animation-duration: 16s;
    animation-delay: -38s;
    transform-origin: 15vw -23vh;
    box-shadow: -40vmin 0 5.65633628755632vmin currentColor;
}
.background span:nth-child(4) {
    color: #f9d3e1;
    top: 59%;
    left: 66%;
    animation-duration: 54s;
    animation-delay: -2s;
    transform-origin: -16vw -20vh;
    box-shadow: -40vmin 0 5.910591494073655vmin currentColor;
}
.background span:nth-child(5) {
    color: #ffe3d7;
    top: 42%;
    left: 49%;
    animation-duration: 8s;
    animation-delay: -45s;
    transform-origin: -15vw 1vh;
    box-shadow: 40vmin 0 5.599851727580349vmin currentColor;
}
.background span:nth-child(6) {
    color: #ffe3d7;
    top: 6%;
    left: 33%;
    animation-duration: 12s;
    animation-delay: -26s;
    transform-origin: -1vw 8vh;
    box-shadow: 40vmin 0 5.238982931656141vmin currentColor;
}
.background span:nth-child(7) {
    color: #f9d3e1;
    top: 8%;
    left: 34%;
    animation-duration: 39s;
    animation-delay: -50s;
    transform-origin: 17vw 8vh;
    box-shadow: 40vmin 0 5.687164988245219vmin currentColor;
}
.background span:nth-child(8) {
    color: #ffe3d7;
    top: 67%;
    left: 71%;
    animation-duration: 48s;
    animation-delay: -4s;
    transform-origin: -23vw 3vh;
    box-shadow: 40vmin 0 5.888151819294785vmin currentColor;
}
.background span:nth-child(9) {
    color: #f9d3e1;
    top: 80%;
    left: 50%;
    animation-duration: 21s;
    animation-delay: -7s;
    transform-origin: 23vw -9vh;
    box-shadow: 40vmin 0 5.572564547278511vmin currentColor;
}
.background span:nth-child(10) {
    color: #ffdbd8;
    top: 23%;
    left: 47%;
    animation-duration: 43s;
    animation-delay: -12s;
    transform-origin: -19vw -23vh;
    box-shadow: -40vmin 0 5.315017636305204vmin currentColor;
}
.background span:nth-child(11) {
    color: #ffe3d7;
    top: 82%;
    left: 13%;
    animation-duration: 23s;
    animation-delay: -7s;
    transform-origin: -14vw 13vh;
    box-shadow: -40vmin 0 5.1084113490665635vmin currentColor;
}
.background span:nth-child(12) {
    color: #ffe3d7;
    top: 77%;
    left: 32%;
    animation-duration: 40s;
    animation-delay: -18s;
    transform-origin: -4vw -14vh;
    box-shadow: -40vmin 0 5.162145510637297vmin currentColor;
}
.background span:nth-child(13) {
    color: #ffdbd8;
    top: 27%;
    left: 81%;
    animation-duration: 12s;
    animation-delay: -40s;
    transform-origin: -10vw 20vh;
    box-shadow: -40vmin 0 5.824941660054906vmin currentColor;
}
.background span:nth-child(14) {
    color: #f9d3e1;
    top: 12%;
    left: 72%;
    animation-duration: 18s;
    animation-delay: -36s;
    transform-origin: 11vw 16vh;
    box-shadow: 40vmin 0 5.043992448501754vmin currentColor;
}
.background span:nth-child(15) {
    color: #f9d3e1;
    top: 57%;
    left: 49%;
    animation-duration: 17s;
    animation-delay: -23s;
    transform-origin: 11vw 17vh;
    box-shadow: -40vmin 0 5.453839716684005vmin currentColor;
}
.background span:nth-child(16) {
    color: #ffe3d7;
    top: 92%;
    left: 15%;
    animation-duration: 29s;
    animation-delay: -7s;
    transform-origin: -12vw 20vh;
    box-shadow: 40vmin 0 5.201911390762941vmin currentColor;
}
.background span:nth-child(17) {
    color: #ffe3d7;
    top: 73%;
    left: 51%;
    animation-duration: 43s;
    animation-delay: -4s;
    transform-origin: 18vw -9vh;
    box-shadow: -40vmin 0 5.623939344203798vmin currentColor;
}
.background span:nth-child(18) {
    color: #ffe3d7;
    top: 65%;
    left: 11%;
    animation-duration: 41s;
    animation-delay: -46s;
    transform-origin: -23vw 7vh;
    box-shadow: 40vmin 0 5.953239740925006vmin currentColor;
}
.background span:nth-child(19) {
    color: #f9d3e1;
    top: 8%;
    left: 66%;
    animation-duration: 27s;
    animation-delay: -39s;
    transform-origin: 15vw -17vh;
    box-shadow: -40vmin 0 5.140883792690687vmin currentColor;
}*/





